.Navbar {
    margin-bottom: 65px;
  }
  
  
  .Navbar__Container {
    padding: 10px 15px;
    box-shadow: none;
    max-height: 54px;
  }
  
  .Navbar__Container .Navbar__Toolbar {
    min-height: 34px;
    max-width: 1285px;
    margin: auto;
    padding: 0;
  }